<!DOCTYPE html>
<html>
<head>
	 <title>ADR Administation App</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <style type="text/css">
		 body{
		   padding-top: 50px;
		   padding-bottom: 50px;
		   background-color: #155137;
		}
		 .login-box {
			 max-width: 330px;
			 margin: 0 auto;
			 background-color: #DBE4EE;
			 padding: 10px;
		 }
		 .login-box .form-control {
		 	margin-bottom: 10px;
		 }
		 .button {
  	 		background-color: #ce1271;
		 }
		 .intro {
		 	margin: 0 auto;
		 	text-align: center;
		 	padding: 5px;
		 	padding-bottom: 15px;
		 }
		 .error {
		 	margin: 0 auto;
		 	text-align: center;
		 	max-width: 330px;
			padding: 10px;
		 }
	 </style>
	 <style>
	 	h1 {
        color: #FBFBFF;
			 }

		</style>
</head>
<body>
	<div class="intro">
		<h1 color = "white" >Welcome to the admin app!</h1>
	</div>
	<form action="/createaccount" method="post" id="signupform">
		<input type="submit" value="Navigate to Qualifications Page"> 
	</form>
	

	<div class="error">
	 	<%if (error_message != null) { %>
			<font color="red">
				<br> Error: <%= error_message %><p>
		<% } %>
	</div>
</body>
</html>
